---
import Header from "../layout/header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style is:global></style>
  <body>
    <Header>
      <a href="/user/login">Login</a>
    </Header>
    <h1>Welcome</h1>
    <a href="/app">App</a>
  </body>
</html>
