---
import Layout from "../layout/page.astro";
import AppBits from "../comp/AppBits";
import Header from "../layout/header.astro";

import { checkUserCookie, getCookieUser } from "../lib/auth";

const jwt = Astro.cookies.get(import.meta.env.JWT_NAME)?.value;
if (!jwt) return Astro.redirect("/user/login");

const cookieUser = await checkUserCookie(jwt);
if (!cookieUser) return Astro.redirect("/user/login");

const [user] = await getCookieUser(cookieUser.userid, cookieUser.email);
if (!user || !user.userid) return Astro.redirect("/user/login");
---

<Layout>
  <div>
    <Header>
      <a href="/api/user/logout">Sign out</a>
    </Header>
    <main class="mx-auto max-w-[900px] px-6 sm:px-8">
      <AppBits client:only />
    </main>
  </div>
</Layout>
