<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>signup</h1>

    <form method="POST" action="/api/user/signup">
      <label
        >email
        <input type="email" name="email" />
      </label>
      <label
        >username
        <input type="text" name="username" />
      </label>

      <label
        >password
        <input type="password" name="password" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
